@model accounting.ViewModels.UsersCreateVM

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar Usuario</h2>

<h3>¿Está seguro de eliminar este usuario?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rol_name)
        </dt>

        <dd>
            @ViewBag.rol_name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>
    </dl>

    @*@using (Html.BeginForm())*@
    @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { id = Model.id }))
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Volver a Lista", "Index") |
    <input type="submit" value="Eliminar" class="btn btn-default" /> 

</div>
    }
</div>
