@model accounting.ViewModels.UsersIndexVM
@using accounting.Helpers

@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2>Listado de Usuarios</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>

@using (Html.BeginForm("Index", "Users", FormMethod.Post, new { page = 1 }))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    @*@Html.LabelFor(m => m.name)*@
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", @placeholder = "nombre", @style = "max-width:100%;" })
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("nombre usuario")
        </th>
        <th>
            @Html.Label("Rol")
        </th>
        <th>
            @Html.Label("Contraseña")
        </th>
        <th>
            @Html.Label("Activo")
        </th>       
        <th>Acciones</th>
    </tr>

    @if (@Model.list.Count() == 0)
    {
        <tr>
            <td colspan="10">no se encontraron registros.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.list)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.user_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.rol_description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.active)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
    </td>
</tr>
        }
    }

</table>

@if (Model.list.ToList().Count > 0)
{
    if (Model.pagingInfo.TotalPages > 1)
    {
        <ul class="paginate pag1 clearfix">
            <li class="single">Pág. @Model.pagingInfo.CurrentPage de @Model.pagingInfo.TotalPages</li>
            @Html.PageLinks(Model.pagingInfo, x => Url.Action("Index", "Users", new { page = x, name = Model.name }))
        </ul>
    }
}

