@model accounting.ViewModels.ExpenseCreateVM

@{
    ViewBag.Title = "Datos del Gasto";
}

<h2>Datos del Gasto</h2>

<div>
    @*<h4>expense</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expense_name)
        </dt>

        <dd>
            @ViewBag.expense_name
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_expense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_expense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount_money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount_money)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar al Listado", "Index")
</p>
