@model accounting.ViewModels.WorkOrderVMIndex
@using accounting.Helpers

@{
    ViewBag.Title = "Listado de Ordenes de Trabajo";
}

    <h2>Listado de Ordenes de Trabajo</h2>


<p>
    @Html.ActionLink("Nueva Orden de Trabajo", "Create")
</p>

@using (Html.BeginForm("Index", "WorkOrder", FormMethod.Post, new { page = 1 }))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <div class="input-group">
                        @Html.DropDownListFor(model => model.status, new SelectList(ViewBag.Status, "id", "descripcion"), "Todos", htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
            @if (Model.list != null && Model.list.ToList().Count > 0)
            {
                <div class="row">
                    <div class="col-xs-6" style="margin-top:10px;">
                        <span class="glyphicon glyphicon-download"></span>
                        @Html.ActionLink("Exportar listado a CSV", "Export", new { nombre = Model.status })
                    </div>
                </div>
            }
        </div>
    </div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>
            @Html.Label("Nro de Orden")
        </th>
        <th>
            @Html.Label("Fecha")
        </th>
        <th>
            @Html.Label("Producto/Servicio")
        </th>
        <th>
            @Html.Label("Estado")
        </th>
        <th>Acciones</th>
    </tr>

    @if (@Model.list.Count() == 0)
    {
        <tr>
            <td colspan="10">No se encontraron registros.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model.list)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NroOrden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductServiceDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDesc)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    }

</table>

@if (Model.list.ToList().Count > 0)
{
    if (Model.pagingInfo.TotalPages > 1)
    {
        <ul class="paginate pag1 clearfix">
            <li class="single">Pág. @Model.pagingInfo.CurrentPage de @Model.pagingInfo.TotalPages</li>
            @Html.PageLinks(Model.pagingInfo, x => Url.Action("Index", "WorkOrder", new { page = x, status = Model.status }))
        </ul>
    }
}
